<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>jsonSrv</servlet-name>
        <servlet-class>monitoreo.jsonSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarSrv</servlet-name>
        <servlet-class>monitoreo.guardarSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoItemSrv</servlet-name>
        <servlet-class>monitoreo.nuevoItemSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoPathSrv</servlet-name>
        <servlet-class>monitoreo.nuevoPathSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaPosItemSrv</servlet-name>
        <servlet-class>monitoreo.ActualizaPosItemSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizaPathSrv</servlet-name>
        <servlet-class>actualizaPathSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaInfoItemSrv</servlet-name>
        <servlet-class>monitoreo.ActualizaInfoItemSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarItemSrv</servlet-name>
        <servlet-class>monitoreo.BorrarItemSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPathSrv</servlet-name>
        <servlet-class>monitoreo.BorrarPathSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChecarStatusSrv</servlet-name>
        <servlet-class>monitoreo.ChecarStatusSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSrv</servlet-name>
        <servlet-class>login.LoginSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSrv</servlet-name>
        <servlet-class>login.LogoutSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>probandoSesion</servlet-name>
        <servlet-class>monitoreo.probandoSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMapaEdoSrv</servlet-name>
        <servlet-class>monitoreo.CargaMapaEdoSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoMapas</servlet-name>
        <servlet-class>monitoreo.ListadoMapas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaMapaEdoSrv</servlet-name>
        <servlet-class>monitoreo.AsignaMapaEdoSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArbolMapas</servlet-name>
        <servlet-class>monitoreo.ArbolMapas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaEventosSrv</servlet-name>
        <servlet-class>monitoreo.ActualizaEventosSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoMapaSrv</servlet-name>
        <servlet-class>monitoreo.nuevoMapaSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetParentMapAsActualSrv</servlet-name>
        <servlet-class>monitoreo.SetParentMapAsActualSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaSettings</servlet-name>
        <servlet-class>monitoreo.ActualizaSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetParentMAp</servlet-name>
        <servlet-class>monitoreo.SetParentMAp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaSetting1</servlet-name>
        <servlet-class>monitoreo.ActualizaSetting1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMapasSettings</servlet-name>
        <servlet-class>monitoreo.ListaMapasSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearReporteWeb</servlet-name>
        <servlet-class>.CrearReporteWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaReporteWebSrv</servlet-name>
        <servlet-class>monitoreo.CreaReporteWebSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorraMapaSrv</servlet-name>
        <servlet-class>monitoreo.BorraMapaSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportImage</servlet-name>
        <servlet-class>monitoreo.ExportImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsonSrv</servlet-name>
        <url-pattern>/jsonSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarSrv</servlet-name>
        <url-pattern>/guardarSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoItemSrv</servlet-name>
        <url-pattern>/nuevoItemSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoPathSrv</servlet-name>
        <url-pattern>/nuevoPathSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaPosItemSrv</servlet-name>
        <url-pattern>/ActualizaPosItemSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizaPathSrv</servlet-name>
        <url-pattern>/actualizaPathSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaInfoItemSrv</servlet-name>
        <url-pattern>/ActualizaInfoItemSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarItemSrv</servlet-name>
        <url-pattern>/BorrarItemSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPathSrv</servlet-name>
        <url-pattern>/BorrarPathSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChecarStatusSrv</servlet-name>
        <url-pattern>/ChecarStatusSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSrv</servlet-name>
        <url-pattern>/LoginSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSrv</servlet-name>
        <url-pattern>/LogoutSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>probandoSesion</servlet-name>
        <url-pattern>/probandoSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMapaEdoSrv</servlet-name>
        <url-pattern>/CargaMapaEdoSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoMapas</servlet-name>
        <url-pattern>/ListadoMapas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaMapaEdoSrv</servlet-name>
        <url-pattern>/AsignaMapaEdoSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArbolMapas</servlet-name>
        <url-pattern>/ArbolMapas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaEventosSrv</servlet-name>
        <url-pattern>/ActualizaEventosSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoMapaSrv</servlet-name>
        <url-pattern>/nuevoMapaSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetParentMapAsActualSrv</servlet-name>
        <url-pattern>/SetParentMapAsActualSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaSettings</servlet-name>
        <url-pattern>/ActualizaSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetParentMAp</servlet-name>
        <url-pattern>/SetParentMAp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaSetting1</servlet-name>
        <url-pattern>/ActualizaSetting1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaMapasSettings</servlet-name>
        <url-pattern>/ListaMapasSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearReporteWeb</servlet-name>
        <url-pattern>/CrearReporteWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaReporteWebSrv</servlet-name>
        <url-pattern>/CreaReporteWebSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraMapaSrv</servlet-name>
        <url-pattern>/BorraMapaSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportImage</servlet-name>
        <url-pattern>/ExportImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
